html
    head
        title tetris
        script(src='script.js')
        link(rel='stylesheet', href='style.css')
    body(onload='setup();')
        h1#title tetris by ongspxm
        h2#score 0
        table#game
        button(onclick='start();') start
